apiVersion: apps/v1
kind: Deployment
metadata:
  name: velocity-proxy
spec:
  template:
    spec:
      containers:
        - name: velocity
          volumeMounts:
            - name: config-volume
              mountPath: /opt/velocity/plugins/velagones/application.conf
              subPath: application.conf
      volumes:
        - name: config-volume
          projected:
            sources:
              - configMap:
                  name: velagones-config
                  items:
                    - key: application.conf
                      path: application.conf
