apiVersion: apps/v1
kind: Deployment
metadata:
  name: velocity-proxy
spec:
  template:
    spec:
      containers:
        - name: velocity
          volumeMounts:
            - name: config-volume
              mountPath: /opt/velocity
      volumes:
        - name: config-volume
          projected:
            sources:
              - configMap:
                  name: velocity-config
